<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>blueSkeleton_walk_w</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>blueSkeleton_walk_w_0.png</string>
				<string>blueSkeleton_walk_w_1.png</string>
				<string>blueSkeleton_walk_w_2.png</string>
				<string>blueSkeleton_walk_w_3.png</string>
			</array>
		</dict>
		<key>blueSkeleton_walk_n</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>blueSkeleton_walk_n_0.png</string>
				<string>blueSkeleton_walk_n_1.png</string>
				<string>blueSkeleton_walk_n_2.png</string>
				<string>blueSkeleton_walk_n_3.png</string>
			</array>
		</dict>
		<key>blueSkeleton_walk_s</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>blueSkeleton_walk_s_0.png</string>
				<string>blueSkeleton_walk_s_1.png</string>
				<string>blueSkeleton_walk_s_2.png</string>
				<string>blueSkeleton_walk_s_3.png</string>
			</array>
		</dict>
		<key>blueSkeleton_walk_e</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>blueSkeleton_walk_e_0.png</string>
				<string>blueSkeleton_walk_e_1.png</string>
				<string>blueSkeleton_walk_e_2.png</string>
				<string>blueSkeleton_walk_e_3.png</string>
			</array>
		</dict>
		<key>localPlayer_walk_e</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>localPlayer_walk_e_0.png</string>
				<string>localPlayer_walk_e_1.png</string>
				<string>localPlayer_walk_e_2.png</string>
				<string>localPlayer_walk_e_3.png</string>
			</array>
		</dict>
		<key>localPlayer_walk_n</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>localPlayer_walk_n_0.png</string>
				<string>localPlayer_walk_n_1.png</string>
				<string>localPlayer_walk_n_2.png</string>
				<string>localPlayer_walk_n_3.png</string>
			</array>
		</dict>
		<key>localPlayer_walk_w</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>localPlayer_walk_w_0.png</string>
				<string>localPlayer_walk_w_1.png</string>
				<string>localPlayer_walk_w_2.png</string>
				<string>localPlayer_walk_w_3.png</string>
			</array>
		</dict>
		<key>localPlayer_walk_s</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>localPlayer_walk_s_0.png</string>
				<string>localPlayer_walk_s_1.png</string>
				<string>localPlayer_walk_s_2.png</string>
				<string>localPlayer_walk_s_3.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
